{% extends "public/templates/public_layout.html" %}
{% block content %}
  <div></div>
  <div class="predict_login">
	  <form action="" method="POST">
      <h1 class="crop_title"><strong>ဆာေဗးေဖာင္</strong></h2>
            <h4 style="text-align: center; color: #088228;margin-top: 1rem;margin-bottom: 3rem;"><strong>ဤဆာေဗးေဖာင္အားျဖည့္ေပးပါရန္ေမတၱာရပ္ခံအပ္ပါသည္။
            </strong></h4>
            <table class="table">
              <thead>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">၁</th>
                  <td>ေျမဆီလြွာအမ်ိုးအစား
                    (ဥပမာ - သဲႏုန္း ၊ ေျမနီ၊ ေျမေစး)
                  </td>
                  <td><input type="text" name="soil_type" required="required" /></td>
                </tr>
                <tr>
                    <th scope="row">၂</th>
                    <td>သီးႏွံအမ်ိဳးအစား
                        (ဥပမာ - မိုးစပါး၊ ေႏြစပါး၊ မတ္ပဲ၊ ..)  
                    </td>
                    <td><input type="text" name="crop_type" required="required" /></td>
                </tr>
                <tr>
                  <th scope="row">၃</th>
                  <td>မ်ိဳးေစ့အရည္အေသြး
                    (ဥပမာ - Certified Seed, Hybrid Seed)
                  </td>
                  <td><input type="text" name="Seed quality" required="required" /></td>
                </tr>
                <tr>
                    <th scope="row">၄</th>
                    <td>ပ်ိဳးျကဲႏွုန္း (၁ ဧက)
                      (ကီလိုဂရမ္ႏွုန္း)
                      </td>
                    <td><input type="number" name="Seed Rate" required="required" /></td>
                </tr>
                <tr>
                  <th scope="row">၅</th>
                  <td>ဓာတ္ေျမျသဇာပမာဏ - NPK (၁ ဧက)
                    (ကီလိုဂရမ္ႏွုန္း)
                    </td>
                  <td><input type="number" name="Fertilizer_NPK" required="required" /></td>
                </tr>
                <tr>
                  <th scope="row">၆</th>
                  <td>ဓာတ္ေျမျသဇာပမာဏ -  ကြန္ေပာင္း(၁ ဧက)
                    (ကီလိုဂရမ္ႏွုန္း)
                    </td>
                  <td><input type="number" name="Fertilizer_Compound" required="required" /></td>
                </tr>
                <tr>
                  <th scope="row">၇</th>
                  <td>ပိုးသတ္ေဆးပမာဏ (၁ဧက)
                    (လီတာႏွုန္း)
                    
                    </td>
                  <td><input type="number" name="Pesticide" required="required" /></td>
                </tr>
                <tr>
                  <th scope="row">၈</th>
                  <td>ေပာင္းသတ္ေဆးပမာဏ (၁ ဧက)
                    (လီတာႏွုန္း)
                    </td>
                  <td><input type="number" name="Pesticide_1" required="required" /></td>
                </tr>
                <tr>
                  <th scope="row">၉</th>
                  <td>သဘာ၀ေျမေဆြး (၁ ဧက)
                    (တင္းနွုန္း)
                    </td>
                  <td><input type="number" name="Manure" required="required" /></td>
                </tr>
                <tr>
                  <th scope="row">၁၀</th>
                  <td>ေနရပ္ (ဥပမာ - တိုင္း ၊ ျပည္နယ္)</td>
                  <td><input type="text" name="Address" required="required" /></td>
                </tr>
              <tr>
                  <th></th>
                  <td></td>
                  <td><button type="submit" class="btn btn-success btn-small">ထည့္သြင္းရန္</button></td>
              </tr>
              </tbody>
            </table>
    </form>
   <br>
   <br>
  <div class="row">
    <div class="col-md-8">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div>
 {% endblock content %}
