{% extends "public/templates/public_layout.html" %}
{% block content %}
    <div class="container" style="font-family: Calibri;">
        <div class="about-rice">
            <div class="container">
              <h3 class="crop_title"><strong>စပါး</strong></h3>
              <div class="d-flex flex-row row py-5">
                  <div class="col-lg-4">
                    <h5 class="sub_title">ေပာ္ဆန္းေမြွး</h5>
                      <img src="static/images/crop_rice.png" alt="Rice_Pawsan" class="crop_img">
                      <p class="showmore"><strong>စိုက္ပ်ိဳးေျမဧရိယာ (မီလီယမ္ ဟက္တာ) </strong> 
                        <br>၇.၁၇<br>
                        <span class="dots">...</span>
                        <span class="more"> <strong>ထြက္ႏွုန္း (မက္ထရစ္တန္ / ဟက္တာ) </strong>
                            <br>၃.၉၄ <br><strong>ထုတ္လုပ္မွု (မီလီယမ္ မက္ထရစ္တန္) </strong><br>၂၈.၁၉<br>
                            </span>
                        <a>Show More</a>      
                      </p>
                  </div>   
                  <div class="col-lg-4">
                    <h5 class="sub_title">ဧည့္မထ</h5>
                    <img src="/static/images/crop_rice_emata.png" alt="Rice_Emata" class="crop_img">
                    <p class="showmore"><strong>စိုက္ပ်ိဳးေျမဧရိယာ (မီလီယမ္ ဟက္တာ) </strong> 
                      <br>၆.၈၆<br>
                      <span class="dots">...</span>
                      <span class="more"> <strong>ထြက္ႏွုန္း (မက္ထရစ္တန္ / ဟက္တာ) </strong>
                          <br>၃.၆၄ <br><strong>ထုတ္လုပ္မွု (မီလီယမ္ မက္ထရစ္တန္) </strong><br>၂၄.၇၅<br>
                          </span>
                      <a>Show More</a>      
                    </p>
                  </div>
                  <div class="col-lg-4">
                    <h5 class="sub_title">ငစိန္</h5>
                    <img src="/static/images/crop_rice_ngasein.png" alt="Rice_Ngasein" class="crop_img">
                    <p class="showmore"><strong>စိုက္ပ်ိဳးေျမဧရိယာ (မီလီယမ္ ဟက္တာ) </strong> 
                      <br>၇.၂၈<br>
                      <span class="dots">...</span>
                      <span class="more"> <strong>ထြက္ႏွုန္း (မက္ထရစ္တန္ / ဟက္တာ) </strong>
                          <br>၃.၉၀ <br><strong>ထုတ္လုပ္မွု (မီလီယမ္ မက္ထရစ္တန္) </strong><br>၂၈.၃၂<br>
                          </span>
                      <a>Show More</a>      
                    </p>
                  </div>
              </div>    
            </div>
          </div>
          <div class="about-wheat_maize">
            <div class="container">
              <h3 class="crop_title"><strong>ေျပာင္း ႏွင့္ နွံ</strong></h3>
              <div class="d-flex flex-row row py-5">
                  <div class="col-lg-4">
                    <h5 class="sub_title">ဂ်ံဳ</h5>
                      <img src="/static/images/crop_wheat.png" alt="Crop_Wheat" class="crop_img">
                      <p class="showmore"><strong>စိုက္ပ်ိဳးေျမဧရိယာ ('000 ဟက္တာ) </strong> 
                        <br>၄၂၂<br>
                        <span class="dots">...</span>
                        <span class="more"> <strong>ထြက္ႏွုန္း (မက္ထရစ္တန္ / ဟက္တာ) </strong>
                            <br>၃.၆၄ <br><strong>ထုတ္လုပ္မွု ('000 မက္ထရစ္တန္) </strong><br>၅၂၆<br>
                            </span>
                        <a>Show More</a>      
                      </p>
                  </div>   
                  <div class="col-lg-4">
                    <h5 class= 'sub_title'>ေျပာင္း</h5>
                    <img src="/static/images/sweet-corn.png" alt="Crop_Maize" class="crop_img">
                    <p class="showmore"><strong>စိုက္ပ်ိဳးေျမဧရိယာ ('000 ဟက္တာ) </strong> 
                      <br>၄၄၁<br>
                      <span class="dots">...</span>
                      <span class="more"> <strong>ထြက္ႏွုန္း (မက္ထရစ္တန္ / ဟက္တာ) </strong>
                          <br>၃.၇၀ <br><strong>ထုတ္လုပ္မွု ('000 မက္ထရစ္တန္) </strong><br>၁၆၂၆<br>
                          </span>
                      <a>Show More</a>      
                    </p>
                  </div>
                  <div class="col-lg-4">
                    <h5 class="sub_title">ႏွံ</h5>
                    <img src="/static/images/crop_sorghum.png" alt="Crop_Sorghum" class="crop_img">
                    <p class="showmore"><strong>စိုက္ပ်ိဳးေျမဧရိယာ ('000 ဟက္တာ) </strong> 
                      <br>၄၅၉<br>
                      <span class="dots">...</span>
                      <span class="more"> <strong>ထြက္ႏွုန္း (မက္ထရစ္တန္ / ဟက္တာ) </strong>
                          <br>၃.၇၅ <br><strong>ထုတ္လုပ္မွု ('000 မက္ထရစ္တန္) </strong><br>၁၇၂၁<br>
                          </span>
                      <a>Show More</a>      
                    </p>
                  </div>
              </div>    
            </div>
          </div>
          <div class="about-pulses">
            <div class="container">
              <h3 class="crop_title"><strong>ပဲအမ်ိဳးမ်ိဳး</strong></h3>
              <div class="d-flex flex-row row py-5">
                  <div class="col-lg-4">
                    <h5 class="sub_title">ပဲမည္း</h5>
                      <img src="/static/images/crop_blackgram.png" alt="Pulses_Blackgram" class="crop_img">
                      <p class="showmore"><strong>စိုက္ပ်ိဳးေျမဧရိယာ (မီလီယမ္ ဟက္တာ) </strong> 
                        <br>၄.၅၅<br>
                        <span class="dots">...</span>
                        <span class="more"> <strong>ထြက္ႏွုန္း (မက္ထရစ္တန္ / ဟက္တာ) </strong>
                            <br>၁.၃၂ <br><strong>ထုတ္လုပ္မွု (မီလီယမ္ မက္ထရစ္တန္) </strong><br>၅.၄၉<br>
                            </span>
                        <a>Show More</a>      
                      </p>
                  </div>   
                  <div class="col-lg-4">
                    <h5 class="sub_title">ပဲစိမ္း</h5>
                    <img src="/static/images/crop_greengram.png" alt="Pulses_Greengram" class="crop_img">
                    <p class="showmore"><strong>စိုက္ပ်ိဳးေျမဧရိယာ (မီလီယမ္ ဟက္တာ) </strong> 
                      <br>၄.၃၈<br>
                      <span class="dots">...</span>
                      <span class="more"> <strong>ထြက္ႏွုန္း (မက္ထရစ္တန္ / ဟက္တာ) </strong>
                          <br>၁.၃၀ <br><strong>ထုတ္လုပ္မွု (မီလီယမ္ မက္ထရစ္တန္) </strong><br>၅.၇၉<br>
                          </span>
                      <a>Show More</a>      
                    </p>
                  </div>
                  <div class="col-lg-4">
                    <h5 class="sub_title">Kidney Bean</h5>
                    <img src="/static/images/crop_kidneybean.png" alt="Pulses_Kidneybean" class="crop_img">
                    <p class="showmore"><strong>စိုက္ပ်ိဳးေျမဧရိယာ (မီလီယမ္ ဟက္တာ) </strong> 
                      <br>၄.၅၀<br>
                      <span class="dots">...</span>
                      <span class="more"> <strong>ထြက္ႏွုန္း (မက္ထရစ္တန္ / ဟက္တာ) </strong>
                          <br>၁.၂၈ <br><strong>ထုတ္လုပ္မွု (မီလီယမ္ မက္ထရစ္တန္) </strong><br>၅.၇၉<br>
                          </span>
                      <a>Show More</a>      
                    </p>
                  </div>
              </div>
              <div class="d-flex flex-row row py-5">   
                  <div class="col-lg-4">
                    <h5 class="sub_title">ပဲပုပ္</h5>
                    <img src="/static/images/crop_soybean.png" alt="Pulses_Soybean" class="crop_img">
                    <p class="showmore"><strong>စိုက္ပ်ိဳးေျမဧရိယာ (မီလီယမ္ ဟက္တာ) </strong> 
                      <br>၄.၄၂<br>
                      <span class="dots">...</span>
                      <span class="more"> <strong>ထြက္ႏွုန္း (မက္ထရစ္တန္ / ဟက္တာ) </strong>
                          <br>၁.၂၈ <br><strong>ထုတ္လုပ္မွု (မီလီယမ္ မက္ထရစ္တန္) </strong><br>၅.၇၀<br>
                          </span>
                      <a>Show More</a>      
                    </p>
                  </div>
                  <div class="col-lg-4">
                    <h5 class="sub_title">ပဲေထာပတ္</h5>
                    <img src="/static/images/crop_butterbean.jpg" alt="Pulses_Butterbean" class="crop_img">
                    <p class="showmore"><strong>စိုက္ပ်ိဳးေျမဧရိယာ (မီလီယမ္ ဟက္တာ) </strong> 
                      <br>၄.၄၅<br>
                      <span class="dots">...</span>
                      <span class="more"> <strong>ထြက္ႏွုန္း (မက္ထရစ္တန္ / ဟက္တာ) </strong>
                          <br>၁.၂၈ <br><strong>ထုတ္လုပ္မွု (မီလီယမ္ မက္ထရစ္တန္) </strong><br>၅.၉၀<br>
                          </span>
                      <a>Show More</a>      
                    </p>
                  </div>
                  <div class="col-lg-4">
                    <h5 class="sub_title">ကုလားပဲ</h5>
                    <img src="/static/images/crop_chickpea.png" alt="Pulses_Snowpea" class="crop_img">
                    <p class="showmore"><strong>စိုက္ပ်ိဳးေျမဧရိယာ (မီလီယမ္ ဟက္တာ) </strong> 
                      <br>၄.၅၃<br>
                      <span class="dots">...</span>
                      <span class="more"> <strong>ထြက္ႏွုန္း (မက္ထရစ္တန္ / ဟက္တာ) </strong>
                          <br>၁.၂၅<br><strong>ထုတ္လုပ္မွု (မီလီယမ္ မက္ထရစ္တန္) </strong><br>၅.၉၉<br>
                          </span>
                      <a>Show More</a>      
                    </p>
                  </div>
              </div>    
            </div>
          </div>
          <div class="about-oilseeds">
            <div class="container">
              <h3 class="crop_title"><strong>ဆီထြက္သီးႏွံမ်ား</strong></h3>
              <div class="d-flex flex-row row py-5">
                  <div class="col-lg-4">
                      <h5 class="sub_title">ေနျကာေစ့</h5>
                      <img src="/static/images/crop_sunflower.png" alt="Crop_Sunflower_Seed" class="crop_img">
                      <p><strong>စိုက္ပ်ိဳးေျမဧရိယာ ('000 ဟက္တာ) </strong> 
                      <br>၄၈၄
                      </p>
                  </div>   
                  <div class="col-lg-4">
                    <h5 class="sub_title">ႏွမ္း</h5>
                    <img src="/static/images/crop_sesame.png" alt="Crop_Sesame" class="crop_img">
                    <p><strong>စိုက္ပ်ိဳးေျမဧရိယာ ('000 ဟက္တာ) </strong> 
                      <br>၁၅၈၁
                      </p>
                  </div>
                  <div class="col-lg-4">
                    <h5 class="sub_title">ေျမပဲ</h5>
                    <img src="/static/images/crop_peanut.png" alt="Crop_Sorghum" class="crop_img">
                    <p><strong>စိုက္ပ်ိဳးေျမဧရိယာ ('000 ဟက္တာ) </strong> 
                      <br>၉၄၉
                      </p>
                  </div>
              </div>    
            </div>
          </div>
          <div class="about-vegetables_fruits">
            <div class="container">
              <h3 class="crop_title"><strong>ဟင္းသီးဟင္းရြက္ ႏွင့္ သစ္သီး၀လံမ်ား</strong></h3>
              <div class="d-flex flex-row row py-5">
                  <div class="col-lg-4">
                    <h5 class="sub_title">ခရမ္းခ်ဥ္သီး</h5>
                      <img src="/static/images/crop_tomato.png" alt="Crop_Tomato" class="crop_img">
                      <p class="showmore"><strong>စိုက္ပ်ိဳးေျမဧရိယာ (မီလီယမ္ ဟက္တာ) </strong> 
                        <br>၄.၅၅<br>
                        <span class="dots">...</span>
                        <span class="more"> <strong>ထြက္ႏွုန္း (မက္ထရစ္တန္ / ဟက္တာ) </strong>
                            <br>၁.၃၂ <br><strong>ထုတ္လုပ္မွု (မီလီယမ္ မက္ထရစ္တန္) </strong><br>၅.၄၉<br>
                            </span>
                        <a>Show More</a>      
                      </p> 
                  </div>   
                  <div class="col-lg-4">
                    <h5 class="sub_title">ေဂါ္ဖီပန္း</h5>
                    <img src="/static/images/crop_cauliflower.png" alt="Crop_Cauliflower" class="crop_img">
                    <p class="showmore"><strong>စိုက္ပ်ိဳးေျမဧရိယာ (မီလီယမ္ ဟက္တာ) </strong> 
                      <br>၄.၅၅<br>
                      <span class="dots">...</span>
                      <span class="more"> <strong>ထြက္ႏွုန္း (မက္ထရစ္တန္ / ဟက္တာ) </strong>
                          <br>၁.၃၂ <br><strong>ထုတ္လုပ္မွု (မီလီယမ္ မက္ထရစ္တန္) </strong><br>၅.၄၉<br>
                          </span>
                      <a>Show More</a>      
                    </p>
                  </div>
                  <div class="col-lg-4">
                    <h5 class="sub_title">ဆလပ္ရြက္</h5>
                    <img src="/static/images/crop_lettuce.png" alt="Crop_Lettuce" class="crop_img">
                    <p class="showmore"><strong>စိုက္ပ်ိဳးေျမဧရိယာ (မီလီယမ္ ဟက္တာ) </strong> 
                      <br>၄.၅၅<br>
                      <span class="dots">...</span>
                      <span class="more"> <strong>ထြက္ႏွုန္း (မက္ထရစ္တန္ / ဟက္တာ) </strong>
                          <br>၁.၃၂ <br><strong>ထုတ္လုပ္မွု (မီလီယမ္ မက္ထရစ္တန္) </strong><br>၅.၄၉<br>
                          </span>
                      <a>Show More</a>      
                    </p>
                  </div>
              </div>
              <div class="d-flex flex-row row py-5">   
                  <div class="col-lg-4">
                    <h5 class="sub_title">ေဂာ္ဖီ     </h5>
                    <img src="/static/images/crop_cabbage.png" alt="crop_cabbage" class="crop_img">
                    <p class="showmore"><strong>စိုက္ပ်ိဳးေျမဧရိယာ (မီလီယမ္ ဟက္တာ) </strong> 
                      <br>၄.၅၅<br>
                      <span class="dots">...</span>
                      <span class="more"> <strong>ထြက္ႏွုန္း (မက္ထရစ္တန္ / ဟက္တာ) </strong>
                          <br>၁.၃၂ <br><strong>ထုတ္လုပ္မွု (မီလီယမ္ မက္ထရစ္တန္) </strong><br>၅.၄၉<br>
                          </span>
                      <a>Show More</a>      
                    </p>
                  </div>
                  <div class="col-lg-4">
                    <h5 class= "sub_title">မုန္လာဥနီ</h5>
                    <img src="/static/images/crop_carrot.png" alt="Crop_Carrot" class="crop_img">
                    <p class="showmore"><strong>စိုက္ပ်ိဳးေျမဧရိယာ (မီလီယမ္ ဟက္တာ) </strong> 
                      <br>၄.၅၅<br>
                      <span class="dots">...</span>
                      <span class="more"> <strong>ထြက္ႏွုန္း (မက္ထရစ္တန္ / ဟက္တာ) </strong>
                          <br>၁.၃၂ <br><strong>ထုတ္လုပ္မွု (မီလီယမ္ မက္ထရစ္တန္) </strong><br>၅.၄၉<br>
                          </span>
                      <a>Show More</a>      
                    </p>
                  </div>
                  <div class="col-lg-4">
                    <h5 class="sub_title">ဖရဲသီး</h5>
                    <img src="/static/images/crop_watermelon.png" alt="Watermelon" class="crop_img">
                    <p class="showmore"><strong>စိုက္ပ်ိဳးေျမဧရိယာ (မီလီယမ္ ဟက္တာ) </strong> 
                      <br>၄.၅၅<br>
                      <span class="dots">...</span>
                      <span class="more"> <strong>ထြက္ႏွုန္း (မက္ထရစ္တန္ / ဟက္တာ) </strong>
                          <br>၁.၃၂ <br><strong>ထုတ္လုပ္မွု (မီလီယမ္ မက္ထရစ္တန္) </strong><br>၅.၄၉<br>
                          </span>
                      <a>Show More</a>      
                    </p>
                  </div>
              </div>    
            </div>
          </div>
          <div class="about-industrial_crops">
            <div class="container">
              <h3 class="crop_title"><strong>စက္မွုသံုး သီးႏွံမ်ား</strong></h3>
              <div class="d-flex flex-row row py-5">
                  <div class="col-lg-4">
                      <h5 class="sub_title">ျကံ</h5>
                      <img src="/static/images/crop_sugarcane.png" alt="Crop_Sugarcane" class="crop_img">
                      <p class="showmore"><strong>ထုတ္လုပ္မွု ('000 မက္ထရစ္တန္) </strong> 
                        <br>၁၁၃၀၇<br>
                      </p>
                  </div>   
                  <div class="col-lg-4">
                    <h5 class="sub_title">ေလ်ွာ္</h5>
                    <img src="/static/images/crop_jute.png" alt="Crop_Jute" class="crop_img">
                    <p class="showmore"><strong>ထုတ္လုပ္မွု ('000 မက္ထရစ္တန္) </strong> 
                      <br>၁၉၈<br>
                    </p>
                  </div>
                  <div class="col-lg-4">
                    <h5 class="sub_title">၀ါ</h5>
                    <img src="/static/images/crop_cotton.png" alt="Crop_Cotton" class="crop_img">
                    <p class="showmore"><strong>ထုတ္လုပ္မွု ('000 မက္ထရစ္တန္) </strong> 
                      <br>၅၃၂<br>
                    </p>
                  </div>
              </div>    
            </div>
          </div>
          <script>
            document.querySelectorAll(".showmore").forEach(function (p) 
            {
                p.querySelector("a").addEventListener("click", function () 
                {
                    p.classList.toggle("show");
                    this.textContent = p.classList.contains("show") ? "Show Less" : "Show More";
                });
            });
          </script>
    </div> 
{% endblock content %}