{% extends "public/templates/public_layout.html" %}
{% block content %}
<div class="container" style="font-family: Calibri">
    <div class="topography">
        <div class="card shadow border-0 border-light">
            <div class="card-body">
                <div class="d-flex flex-row row py-5">
                    <div class="col-lg-5 align-self-center mb-5 mb-lg-0">
                      <img src="/static/images/topography.png" alt="Topography"  style="width: 13rem;height: 20rem;">
                    </div>
                    <div class="col-lg-7">
                      <h4 class="mm-title">ျမန္မာႏိုင္ငံ၏ေျမမ်က္ႏွာသြင္ျပင္</h4>
                      <p class="mm-content">
                        ျမန္မာႏိုင္ငံ၏ေျမမ်က္ႏွာသြင္ျပင္မွာ <strong>ေတာင္ေျမာက္သြယ္တန္းေနေသာေတာင္တန္းမ်ား၊ကုန္းျမင့္မ်ား ႏွင့္ ျမစ္ဝွမ္းလြင္ျပင္မ်ား </strong> ပါဝင္သည္။ ေျမမ်က္ႏွာသြင္ျပင္ကို ေတာင္တန္း၊ ကုန္းေျမမ်ား၏ သက္တမ္းႏွင့္ ေျမျပင္လကၡဏာမ်ားအေပၚမူတည္၍ <strong>သဘာဝအပိုင္းႀကီးေလးပိုင္း </strong> စသည္ပိုင္းျခား နိုင္သည္။
                        <strong>
                        (၁) အေရွ႕ဘက္ကုန္းျမင့္ေဒသ၊ 
                        (၂) အလယ္ပိုင္းခ်ိဳင့္ဝွမ္းေဒသ၊ 
                        (၃) အေနာက္ဘက္ ေတာင္တန္းေဒသႏွင့္၊ 
                        (၄) ရခိုင္ကမ္းေျမာင္ေဒသ
                        </strong> 
                         တို႔ျဖစ္သည္။အဓိကေရဆင္းမွာ<strong>ဧရာဝတီျမစ္၊ ခ်င္းတြင္းျမစ္၊ စစ္ေတာင္းျမစ္ ႏွင့္ သံလြင္ျမစ္တို</strong> ႔ျဖစ္ၿပီး ရခိုင္ႏွင့္ တနသၤာရီကမ္းရိုးတန္းေဒသတို႔တြင္လည္း ျမစ္ေခ်ာင္းမ်ားစြာရွိသည္။ <strong>အာရွတိုက္ အေရွ႕ေတာင္ပိုင္း မုတ္သံုရပ္ဝန္းတြင္ရွိၿပီး</strong> သဘာဝေပါက္ပင္ႏွင့္ ေျမဆီလႊာအမ်ိဳးအစားမ်ားစြာ ရွိသည္။
                      </p>
                    </div>
                </div>
            </div>
        </div> 
    </div>  
    <div class="location">
      <div class="card shadow border-0 border-light">
          <div class="card-body">
              <div class="d-flex flex-row row py-5">
                  <div class="col-lg-5 align-self-center mb-5 mb-lg-0">
                    <img src="/static/images/location.png" alt="Topography" class="home_img">
                  </div>
                  <div class="col-lg-7">
                    <h4 class="mm-title">ျမန္မာႏိုင္ငံ၏ တည္ေနရာ</h4>
                    <p class="mm-content">
                      ျမန္မာႏိုင္ငံသည္ <strong>အေရွ႕ေတာင္အာရွတြင္ ဒုတိယဧရိယာအႀကီးဆံုး ႏိုင္ငံျဖစ္ၿပီး</strong> အိမ္နီးခ်င္း <strong> <br> ၅   ႏိုင္ငံ    </strong>   နယ္နိမိတ္ခ်င္းထိစပ္ေနသည္။ <strong>ေျမာက္လတၱီက်ဳ ၉ ဒီဂရီ ၃၂ မိနစ္ႏွင့္ ၂၈ ဒီဂရီ <br>၃၁ မိနစ္ၾကား၊ အေရွ႕ေလာင္ဂ်ီက်ဳ ၉၂ ဒီဂရီ ၁၀ မိနစ္ ႏွင့္ ၁၀၁ ဒီဂရီ ၁၁ မိနစ္ျကား</strong> တြင္တည္ရွိသည္။တိုင္းေဒသႀကီး ၇   ခု၊  ျပည္နယ္ ၇ ခု၊ ေနျပည္ေတာ္ ျပည္ေထာင္စုနယ္ေျမတို႔ျဖင့္ ဖြဲ႕စည္းထားသည္။ 
                    </p>
                  </div>
              </div>
          </div>
      </div> 
    </div> 
    <div class="climate">
      <div class="card shadow border-0 border-light">
          <div class="card-body">
              <div class="d-flex flex-row row py-5">
                  <div class="col-lg-5 align-self-center mb-5 mb-lg-0">
                    <img src="/static/images/climate.png" alt="Climate" class="home_img">
                  </div>
                  <div class="col-lg-7">
                    <h4 class="mm-title">ျမန္မာႏိုင္ငံ၏ ရာသီဥတု</h4>
                    <p class="mm-content">
                      ျမန္မာႏိုင္ငံသည္ ေယဘုယ်အားျဖင့္ <strong>အပူပိုင္းမုတ္သံု ရာသီဥတု</strong> ရရွိသည္။ <strong>ေတာင္ေျမာက္ရွည္လ်ားေသာႏိုင္ငံျဖစ္၍</strong> ရာသီဥတု အမ်ိဳးအစားစံုလင္ၿပီး ေျမမ်က္ႏွာျပင္ အေနအထား အရလည္း ကြဲျပားျခားနားေသာရာသီဥတုမ်ားကို ျဖစ္ေပၚေစသည္။ ၎တို႔မွာ <strong>အပူပိုင္းမုတ္သံု ရာသီဥတု၊ အပူပိုင္းဆဗားနား ရာသီဥတု၊ အပူပိုင္းစတက္ျမက္ခင္း ရာသီဥတု၊ အပူေလ်ာ့ပိုင္းမုတ္သံု ရာသီဥတု၊ အပူေလ်ာ့ပိုင္းကုန္းျမင့္ ရာသီဥတု၊ ကုန္းျမင့္ရာသီဥတု</strong> တို႔ျဖစ္သည္။ 
                    </p>
                  </div>
              </div>
          </div>
      </div> 
    </div>
    <div class="products">
      <div class="card shadow border-0 border-light">
          <div class="card-body">
              <div class="d-flex flex-row row py-5">
                  <div class="col-lg-5 align-self-center mb-5 mb-lg-0">
                    <img src="/static/images/products.png" alt="Products" class="home_img">
                  </div>
                  <div class="col-lg-7">
                    <h4 class="mm-title"> ျမန္မာနိုင္ငံ၏ ထြက္ကုန္သီးနွံမ်ား</h4>
                    <p class="mm-content">
                      အဓိက ထြက္ကုန္သီးနွံမ်ားမွာ <strong>စပါး၊ ဆီထြက္သီးနွံမ်ား၊ နွံ၊ ဂ်ံဳ ၊ ပဲ၊ ေျပာင္း၊  ျကံ၊   ေကာ္ဖီ</strong></br> တို့ျဖစ္ျကသည္။
                    </p>
                  </div>
              </div>
          </div>
      </div> 
    </div> 
    <div class="farmer">
      <div class="card shadow border-0 border-light">
          <div class="card-body">
              <div class="d-flex flex-row row py-5">
                  <div class="col-lg-5 align-self-center mb-5 mb-lg-0">
                    <img src="/static/images/farmer.png" alt="Farmer" class="home_img">
                  </div>
                  <div class="col-lg-7">
                    <h4 class="mm-title">ျမန္မာႏိုင္ငံ၏ သူရဲေကာင္းမ်ား</h4>
                    <p class="mm-content">
                      ျမန္မာႏိုင္ငံလူဦးေရ၏ <strong>၇၀ ရာခိုင္ႏႈန္းသည္ </strong>လယ္ယာလုပ္ငန္းျဖင့္ အသက္ေမြးသူမ်ား ျဖစ္ေပရာ ေခတ္အဆက္ဆက္၌ အေရးပါေသာ လူတန္းစားတစ္ရပ္အျဖစ္ ရပ္တည္လ်က္ရွိသည္။ ႏိုင္ငံစီးပြားေရး၏ ပင္မေထာက္တိုင္မ်ားဟုပင္ ဆိုႏိုင္ၾကသည္။ သို႔ရာတြင္ ယခုအခါ </br> ေတာင္သူလယ္သမားမ်ားသည္ <strong>မြေယာပိုင်ဆိုင်မှု ပြသနာများ၊ ထွက်ကုန်ဈေးကျမှု ပြသနာများ၊ အထွက်နှုန်းကျဆင်းမှု ပြသနာများ၊ ကြွေးမြီပြသနာများ နှင့်</strong>  ရင္ဆိုင္ေနၾကရသည္။

                    </p>
                  </div>
              </div>
          </div>
      </div> 
    </div>
</div>
{% endblock content %}