{% extends "public/templates/public_layout.html"%}
{% block content %}
{% for new in news %}
<article class="media col-lg-8">
    <div class="card" style="margin-top: 3rem; margin-bottom: 3rem;">
        <div class="card-body shadow border0">
            <div class="article-metadata">
              <small class="text-muted">{{ new.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" style="color:  #088228">{{ new.title }}</a></h2>
            </br>
            <p class="article-content">{{ new.content }}</p>
            </div>
    </div>  
</article>
{% endfor %}

  <div class="col-lg-8">
    <h1>{{ location }}</h1>
  </div>

{% endblock content %}    