{% extends "admin/templates/admin_layout.html" %}
{% block content %}

    <h1 class="survey_header">Survey Data</h1> 
    <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Soil TYpe</th>
            <th scope="col">Crop Type</th>
            <th scope="col">Seed Quality</th>
            <th scope="col">Seed Rate (kg/acre)</th>
            <th scope="col">Fertilizer Type</th>
            <th scope="col">Manure Type</th>
            <th scope="col">Land Preparation</th>
            <th scope="col">Sowing Type</th>
            <th scope="col">Fertilizer Amount (kg/acre)</th>
            <th scope="col">Herbicide Amount (litre/acre)</th>
            <th scope="col">Insecticide Amount (litre/acre)</th>
            <th scope="col">Manure Amount</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
            {% for survey in surveys %}
            <tr>
                <th scope="row">{{ survey.id }}</th>
                <td>{{ survey.soiltype }}</td>
                <td>{{ survey.croptype }}</td>
                <td>{{ survey.seedquality }}</td>
                <td>{{ survey.seedrate }}</td>
                <td>{{ survey.fertilizertype }}</td>
                <td>{{ survey.manuretype }}</td>
                <td>{{ survey.landpreparation }}</td>
                <td>{{ survey.sowingtype }}</td>
                <td>{{ survey.fertilizeramt }}</td>
                <td>{{ survey.herbicideamt }}</td>
                <td>{{ survey.insecticideamt }}</td>
                <td>{{ survey.manureamt }}</td>
                <td>{{ survey.address }}</td>
              </tr>
            {% endfor %} 
        
        </tbody>
      </table>

{% endblock content %}

