{% extends "admin/templates/admin_layout.html"%}
{% block content %}
<div class="row">
    <div class="col-lg-6">
       <h2 style="color:  #088228">Article Stand</h2> 
        {% for article in articles %}
        <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
        <small class="text-muted">{{ article.date_posted.strftime('%Y-%m-%d') }}</small>
      </div>
      <h2><a class="article-title" href="{{ url_for('article',article_id=article.id) }}">{{ article.title }}</a></h2>
      <p class="article-content">{{ article.content }}</p>
    </div>
        </article>
        {% endfor %} 
    </div>
    <div class="col-lg-6">
        <h2 style="color:  #088228">Weather News Stand</h2> 
        {% for new in news %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">{{ new.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('news',news_id=new.id) }}">{{ new.title }}</a></h2>
                <p class="article-content">{{ new.content }}</p>
            </div>
        </article>
        {% endfor %}        
    </div>

</div>
{% endblock content %}